<mat-toolbar color="primary" class="sidenav-toolbar">
    <button mat-icon-button class="drawer-btn">
                <mat-icon routerLink="/admin" class="white-icon">keyboard_arrow_left</mat-icon>
            </button>
    <app-title title="Location"></app-title>
</mat-toolbar>
<div class="toolbar-div">
    <!-- <div class="floating-btn">
        <button class="mat-fab-bottom-right" mat-fab (click)="addNewLocation()">
            <mat-icon class="white-icon">add</mat-icon>
        </button>
    </div> -->
</div>